{% extends 'blog/base.html'%}
{% load static%}
{% block content%}
<div class="col-sm-10">
<h3 class="text-white my-5">About page</h3>
<p>Welcome to Mini Blog, your go-to destination for all things. Founded with a vision to enlighten and entertain, we pride ourselves on delivering high-quality content that captivates and informs. Whether you're a seasoned enthusiast or a curious newcomer, our platform offers a diverse range of articles to satisfy your interests and ignite your passion .
    At Mini Blog, our team is driven by a shared commitment to excellence. Behind every article lies meticulous research, thoughtful insights, and a dedication to delivering value to our readers
</p>
{% endblock content%}